* {
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 16px; 
}

header {
    background: linear-gradient(215deg, rgba(30, 30, 30, 0.69) -25.23%, rgba(217, 217, 217, 0.00) 83.58%);
    height: 100vh;
    /* overflow: auto; */
}

/* .welcome-page {
    display: block;
} */

@media screen and (max-width: 750px) {
    header {
        height: auto;
    }

    .welcome-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .btnSignup,
    .btnLogin {
      display: inline-block; 
      margin-bottom: 1rem;
    }

    
}

h1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
}

h3 {
    font-weight: 700 !important;
    font-size: 2rem !important;
}

.row {
    justify-content: center;
}

.counter {
    & h3 {
        text-align: center;
    }

    & p {
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

/* col-md-4 {
    text-align: center;
    
}
col-md-4 p {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
} */

.lead {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

.btnSignup {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    padding: 0.6875rem 3.375rem;
    text-align: center;
    box-shadow: 0 0.21875rem 0.75rem rgba(0, 0, 0, 0.4);
    display: inline-block;
}

.btnSignup:hover {
    color: #1E1E1E;
    background-color: transparent;
}

.btnLogin {
    font-size: 1.5rem;
    text-decoration: none;
    color: #1E1E1E;
    border-radius: 15px;
    border: 1px solid #1E1E1E;
    background: #FFF;
    padding: 0.6875rem 3.375rem;
    width: 12rem;
    text-align: center;
    box-shadow: 0 0.21875rem 0.75rem rgba(0, 0, 0, 0.4);
    display: inline-block;
}

.btnLogin:hover {
    color: #1E1E1E;
    background-color: transparent;
}

.image-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2rem !important;
}

.navbar-nav {
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar-nav a {
    margin-right: 2.5rem;
    color: #1E1E1E;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: grey;
}

.navbar-nav button {
    border-radius: 15px; 
    border: 1px solid #1E1E1E;
    background-color: transparent;
    width: 7.5rem; 
    height: 2.625rem; 
}

.navbar-nav button:hover {
    border-radius: 15px; 
    border: 1px solid #1E1E1E;
    background-color: #1E1E1E;
    color: #FFF;
    width: 7.5rem; 
    height: 2.625rem; 
}


.short-about .text-about {
    text-align: center;
    position: relative;
}

.custom-quote {
    position: relative;
    font-size: 1.75rem;
    line-height: normal;
    margin: 50px auto;
    text-align: center;
    font-weight: 500;
}

.custom-quote:before, .custom-quote:after {
    content: "“";
    font-size: 3.125rem;
    font-weight: 700;
}

.custom-quote:before {
    position: absolute;
    top: -20px; 
    left: 25px; 
}

.custom-quote:after {
   position:absolute; 
   bottom:-20px; 
   right: 50px; 
}

.values {
    margin-top: 12.3rem;
}

.value-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 19.75rem;
    height: 27.5rem;
    border-radius: 3.125rem;
    border: 1px solid #B9B5B5;
    background: linear-gradient(188deg, #D9D9D9 -15.29%, rgba(217, 217, 217, 0.00) 135.9%);
    padding-top: 4rem; 
  }
  

.value-card h4 {
    color: #000;
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.value-card p {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}

.values h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.image {
    width: 13.0625rem;
    height: 14.0625rem;
    border-radius: 0.9375rem;
    background: #D9D9D9;
}


.join-title {
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.join-content {
    border-radius: 3.125rem;
    margin-top: 11.25rem;
    margin-bottom: 8.75rem;
    border: 1px solid #B9B5B5;
    background: linear-gradient(188deg, #D9D9D9 -15.29%, rgba(217, 217, 217, 0.00) 135.9%);
    width: 69.5rem;
    height: auto;
    padding: 4rem 0 4rem 0;
}

.join-btn {
    width: 12rem;
    height: 3.625rem;
    border-radius: 0.9375rem;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    margin-top: 2.85rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.join-btn:hover {
    color: #1E1E1E;
    background-color: white;
}

footer {
    background-color: #1E1E1E;
}

.footer-title {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}

h5 {
font-size: 1.75rem;
font-weight: 600;
}

.space-list > li {
    margin-bottom: 0.5rem;
}

.they-said h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.ts-card {
    background: linear-gradient(188deg, #D9D9D9 -15.29%, rgba(217, 217, 217, 0.00) 135.9%);
    border-radius: 3.125rem;
    border: 1px solid #B9B5B5;
    width: 33.5rem;
    height: 15.5rem;
    padding: 2rem;
    text-align: center;
    flex-shrink: 0;
    margin-right: 2rem;
}

.name {
font-size: 1.5rem;
font-weight: 500;
padding-left: 1.75rem;
}

.slider {
    width: auto;
    height: 15.5rem;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(33.5rem * 9);
    animation: slide 50s linear infinite;
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-33.5rem); /* Adjust this according to the card width */
    }
    66% {
      transform: translateX(-67rem); /* Adjust this according to the card width */
    }
    100% {
      transform: translateX(0);
    }
  }

.modal-content {
    border-radius: 3rem !important;
    
}

.border-line {
    overflow: hidden;
    text-align: center;
}
  
.border-line::before,
.border-line::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
.border-line::before {
    right: 0.5em;
    margin-left: -50%;
}
  
.border-line::after {
    left: 0.5em;
    margin-right: -50%;
}

.form-control {
    border: 1px solid black !important;
}

.modal-body button {
    border-radius: 15px;
    border: 1px solid #1E1E1E;
    padding: 0.65rem;
}

.modal-body a {
    text-decoration: none;
    color: #1E1E1E;
}

.signup-modal {
    color: #FC8019 !important;
}